<form action="/Pessoas/Cadastro" method="POST">
  <div class="form-group">
    <label>Matricula</label>
    <input type="number" class="form-control" name="matricula">
  </div>
  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" name="nome">
  </div>
   <div class="form-group">
    <label>Data</label>
    <input type="date" class="form-control" name="data">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
  <a class="btn btn-primary" href="/Pessoas/Lista">Voltar</a>
</form>