@model Pessoa
@{
    var pessoa = Model;
}
<form action="/Pessoas/confirmarDeletar" method="POST">
    <div class="form-group">
        <label>Matricula</label>
        <input disabled type="number" class="form-control" name="matricula" value="@pessoa.Matricula">
    </div>
    <div class="form-group">
        <input hidden type="number" class="form-control" name="matricula" value="@pessoa.Matricula">
    </div>
    <div class="form-group">
        <label>Nome</label>
        <input disabled type="text" class="form-control" name="nome" value="@pessoa.Nome">
    </div>
    <div class="form-group">
        <label>Data</label>
        <input disabled type="datetime" class="form-control" name="nome" value="@pessoa.Data">
    </div>
    <button type="submit" class="btn btn-danger">Deletar</button>
    <a class="btn btn-primary" href="/Pessoas/Lista">Voltar</a>
</form>